<button class="btn btn-outline">Add new Dish</button>
<div class="clr-row">
    <div class="clr-col-md-7">
        <div class="clr-row">
            <app-dish-card *ngFor="let dish of dishes" [dish]="dish" isAdminView="true"></app-dish-card>
        </div>
    </div>
    <div class="clr-col-md-5">
        <clr-input-container class="clr-col-md-12">
            <label>Search</label>
            <input clrInput name="name" #search/>
        </clr-input-container>
        <br/>

        <clr-datagrid [(clrDgSingleSelected)]="selectedDishType">
            <clr-dg-action-bar>
                <button class="btn btn-link btn-sm">Add</button>
                <button class="btn btn-link btn-sm" [disabled]="!selectedDishType">Delete</button>
            </clr-dg-action-bar>
            <clr-dg-column>
                Filter dishes by type
            </clr-dg-column>
            <clr-dg-row *clrDgItems="let type of dishTypes"
                        [clrDgItem]="type">
                <clr-dg-cell>{{type}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>

        <br>

        <clr-datagrid [(clrDgSingleSelected)]="selectedPaymentType">
            <clr-dg-action-bar>
                <button class="btn btn-link btn-sm">Add</button>
                <button class="btn btn-link btn-sm" [disabled]="!selectedPaymentType">Delete</button>
            </clr-dg-action-bar>
            <clr-dg-column>
                Payment methods
            </clr-dg-column>
            <clr-dg-row *clrDgItems="let type of dishTypes"
                        [clrDgItem]="type">
                <clr-dg-cell>{{type}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>
