<button class="btn btn-outline" (click)="openNewDishModal()">Add new Dish</button>
<div class="clr-row">
    <div class="clr-col-md-7">
        <div class="clr-row">
            <app-dish-card *ngFor="let dish of dishes"
                           [dish]="dish"
                           (deleteClicked)="openDeleteDishModal(dish)"
                           (changeClicked)="openChangeDishModal(dish)"
                           isAdminView="true"></app-dish-card>
        </div>
    </div>
    <div class="clr-col-md-5">
        <clr-input-container class="clr-col-md-12">
            <label>Search</label>
            <input clrInput name="name" #search/>
        </clr-input-container>
        <br/>

        <clr-datagrid [(clrDgSingleSelected)]="selectedDishType">
            <clr-dg-action-bar>
                <button class="btn btn-link btn-sm" (click)="openNewDishTypeModal()">Add</button>
                <button class="btn btn-link btn-sm" [disabled]="!selectedDishType" (click)="deleteType()">Delete</button>
                <button class="btn btn-link btn-sm" [disabled]="!selectedDishType" (click)="selectedDishType = null">Clear Filter</button>
            </clr-dg-action-bar>
            <clr-dg-column>
                Filter dishes by type
            </clr-dg-column>
            <clr-dg-row *clrDgItems="let type of dishTypes"
                        [clrDgItem]="type">
                <clr-dg-cell>{{type}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>

        <br>

        <clr-datagrid [(clrDgSingleSelected)]="selectedPaymentType">
            <clr-dg-action-bar>
                <button class="btn btn-link btn-sm" (click)="openNewPaymentModal()">Add</button>
                <button class="btn btn-link btn-sm" [disabled]="!selectedPaymentType" (click)="deletePaymentType()">Delete</button>
                <button class="btn btn-link btn-sm" [disabled]="!selectedPaymentType" (click)="selectedPaymentType = null">Clear Filter</button>
            </clr-dg-action-bar>
            <clr-dg-column>
                Payment methods
            </clr-dg-column>
            <clr-dg-row *clrDgItems="let type of paymentTypes"
                        [clrDgItem]="type">
                <clr-dg-cell>{{type}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>

<app-save-modal #newDishType [title]="'Add Dish Type'" (okClicked)="addNewDishType($event)">
    <form #form>
        <clr-input-container>
            <input clrInput name="newDishType"/>
        </clr-input-container>
    </form>
</app-save-modal>

<app-save-modal #newPaymentType [title]="'Add Payment Type'" (okClicked)="addNewPaymentType($event)">
    <form #form>
        <clr-input-container>
            <input clrInput name="newPaymentType"/>
        </clr-input-container>
    </form>
</app-save-modal>

<app-save-modal #deleteDishModal [title]="'Add Payment Type'" (okClicked)="deleteDish()">
    Are you sure that you want to delete this dish?
</app-save-modal>

<app-change-dish #changeDishModal title="Change Dish" (okClicked)="updateDish($event)"></app-change-dish>

<app-add-new-dish [modalIsOpen]="openNewDishModalBoolean" (modalOpenOutput)="openNewDishModalBoolean = false" (dishOutput)="addNewDish($event)"></app-add-new-dish>
