<div class="card" *ngIf="dish">
    <div class="card-header">
        {{dish.name}}
    </div>
    <div class="card-img">
        <img [src]="dish.imgUrl"/>
    </div>
    <div class="card-block">
        <div class="card-text">
            {{dish.description}}
        </div>
        <div class="card-text" *ngIf="dish.ingredients">
            Ingredients:
            <span *ngFor="let ingredient of dish.ingredients; let i = index">
                {{ingredient}}<span *ngIf="i != dish.ingredients.length - 1">, </span>
            </span>
        </div>
        <div class="card-text">
            <b>BGN</b> {{dish.price}}
        </div>
    </div>
    <div class="card-footer" *ngIf="!isAdminView">
        <button class="btn btn-sm btn-link">Add to order</button>
    </div>
    <div class="card-footer" *ngIf="isAdminView">
        <button class="btn btn-sm btn-link">Delete</button>
        <button class="btn btn-sm btn-link">Change</button>
    </div>
</div>
