<div *ngIf="confirmedIsVisible">
    <clr-datagrid>
        <clr-dg-action-bar>
            <button class="btn btn-sm btn-primary" (click)="showConfirmed()">Confirmed</button>
            <button class="btn btn-link btn-sm" (click)="showUnconfirmed()">Unconfirmed</button>
        </clr-dg-action-bar>
        <clr-dg-column>
            Dishes
        </clr-dg-column>
        <clr-dg-column>
            Ingredients
        </clr-dg-column>
        <clr-dg-row *clrDgItems="let type of card.dishesInCardConfirmed"
                    [clrDgItem]="type">
            <clr-dg-cell>{{type.name}}</clr-dg-cell>
            <clr-dg-cell>{{type.ingredients}}</clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>

    <div>
        <button class="btn btn-sm btn-primary" (click)="addNewDish()">+ Add new dish</button>
    </div>
</div>

<div *ngIf="!confirmedIsVisible">
    <clr-datagrid [(clrDgSelected)]="selectedDishes">
        <clr-dg-action-bar>
            <button class="btn btn-link btn-sm" (click)="showConfirmed()">Confirmed</button>
            <button class="btn btn-sm btn-primary" (click)="showUnconfirmed()">Unconfirmed</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="onAddIng()"
                    *ngIf="selectedDishes?.length === 1">
                <clr-icon shape="pencil"></clr-icon>
                Add ingredients
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="onRemoveIng()"
                    *ngIf="selectedDishes?.length === 1">
                <clr-icon shape="pencil"></clr-icon>
                Remove ingredients
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()"
                    *ngIf="selectedDishes.length">
                <clr-icon shape="times"></clr-icon>
                Delete
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="confirmSelectedDishes()"
                    *ngIf="selectedDishes.length">
                <clr-icon shape="check"></clr-icon>
                Confirm selected dishes
            </button>
        </clr-dg-action-bar>
        <clr-dg-column>
            Dishes
        </clr-dg-column>
        <clr-dg-column>
            Ingredients
        </clr-dg-column>
        <clr-dg-row *clrDgItems="let type of card.dishesInCardUnconfirmed"
                    [clrDgItem]="type">
            <clr-dg-cell>{{type.name}}</clr-dg-cell>
            <clr-dg-cell>{{type.ingredients}}</clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>

    <div>
        <button class="btn btn-sm btn-primary" (click)="addNewDish()">+ Add new dish</button>
        <button class="btn btn-sm btn-primary" *ngIf="selectedDishes.length" (click)="confirmAllDishes()">Confirm all
            dishes
        </button>
    </div>
</div>

    <app-ingredients-modal
        [modalOpen]="modalOpen"
        [removeIng]="removeIng"
        [allDishIngredients]="selectedDishes[0]?.ingredients"
        (modalOpenOutput)="closeModal($event)"
        (selectedIngredientsToAddOutput)="addIngredientsToDish($event)"
        (selectedIngredientsToRemoveOutput)="removeIngredientsFromDish($event)"
    ></app-ingredients-modal>
