<header class="header header-6">
    <div class="header-nav">
        <div *ngFor="let item of links">
            <a class="nav-link nav-text"
               *ngIf="item.path"
               [class.active]="item.active"
               (click)="clickOnLink(item)"
               [routerLink]="item.path">
                {{item.name}}
            </a>

            <a class="nav-link nav-text"
               *ngIf="!item.path"
               [class.active]="item.active"
               (click)="clickOnItem(item)">
                {{item.name}}
            </a>
        </div>
    </div>
</header>
<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            <ng-content></ng-content>
        </div>
    </div>
</div>
